@model List<VetTrainer.Models.DiseaseCaseTab>
<head>
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <link rel="stylesheet" href="../../Src/css/swiper.min.css">
    <title>病例</title>
</head>
<div class="container main">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @{
                foreach (VetTrainer.Models.DiseaseCaseTab diseaseCaseTabObj in Model)
                {
                    <div class="swiper-slide" align="center">
                        @{
                            if (diseaseCaseTabObj.Analyses.Count != 0)
                            {
                                foreach (VetTrainer.Models.Analysis objA in diseaseCaseTabObj.Analyses)
                                {
                                    <p>@objA.Name</p>
                                }

                            }
                            if (diseaseCaseTabObj.Drugs.Count != 0)
                            {
                                foreach (VetTrainer.Models.Drug objD in diseaseCaseTabObj.Drugs)
                                {
                                    <p>@objD.Name</p>
                                    <p>@objD.Price</p>
                                }
                            }
                            if (diseaseCaseTabObj.Texts.Count != 0)
                            {
                                foreach (VetTrainer.Models.Text objT in diseaseCaseTabObj.Texts)
                                {
                                    <p>@objT.RelatedInstruments</p>
                                }
                            }
                            if (diseaseCaseTabObj.Pictures.Count != 0)
                            {
                                foreach (VetTrainer.Models.Picture objP in diseaseCaseTabObj.Pictures)
                                {
                                    <img alt="This should be a photo" height="200" width="200" src="@objP.Url">                                    
                                }

                                <p >@diseaseCaseTabObj.Pictures[0]</p>
                            }
                            if (diseaseCaseTabObj.Videos.Count != 0)
                            {
                                <p >@diseaseCaseTabObj.Videos[0]</p>
                            }
                        }   
                    </div>
                }
            }
        </div>

        <!-- 分页器 -->
        <div class="swiper-pagination"></div>
        <!-- 导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- 滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script src="../../Src/js/swiper.jquery.min.js"></script>
<script src="../../Src/js/case_select.js"></script>
<script type="text/javascript">
    (function () {
        var mainSwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            // 分页器
            pagination: '.swiper-pagination'
        });
    })();
</script>