@*@model VetTrainer.Views.ViewModel.SelDiseaseCaseViewModel*@
@model IEnumerable< VetTrainer.Models.DiseaseType>

<head>
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <title>病例学习</title>
</head>

<div class="container tab-select">
    <div class="row">
        <div class="col-md-12"><h2>病例学习</h2></div>
    </div>
    <div class="row">
        <div class="col-md-2 disease-tab-list">
            <ul>
                @{
                    foreach (VetTrainer.Models.DiseaseType diseaseType in Model) {   
                        <li class="disease-tab">@diseaseType.Name</li>
                    }
                }
            </ul>
        </div>

        <div class="col-md-10 disease-content">
        @{
            foreach (VetTrainer.Models.DiseaseType diseaseType in Model)
            {
                <ul class="disease-list hidden">
                    @foreach (var disease in diseaseType.Diseases)
                    {
                        <li class="col-md-2">@disease.Name</li>
                    }
                </ul>
            }
        }
        </div>
    </div>

    <hr>
    <div class="row">
        <h3>病例选择</h3>
        <ul>
        @{ 
            foreach(VetTrainer.Models.DiseaseType diseaseType in Model)
            {
                foreach (VetTrainer.Models.Disease disease in diseaseType.Diseases)
                {
                    foreach(VetTrainer.Models.DiseaseCase diseaseCase in disease.DiseaseCases)
                    {
                    @*<li>Disease Type: @diseaseType.Name; Disease: @disease.Name; Disease case: @diseaseCase.Name</li>*@
                    <li>@Html.ActionLink("Disease Type:" + diseaseType.Name + "Disease:" + disease.Name + " Disease case:" + diseaseCase.Name, "CaseLearning", "Case", diseaseCase.Name, null) </li>
                    }
                }
            }
          }
</ul>
    </div>
</div>

<script src="../../Src/js/case_select.js"></script>