@*@model VetTrainer.Views.ViewModel.SelDiseaseCaseViewModel*@
@*@model IEnumerable< VetTrainer.Models.DiseaseType>*@
@model string

@*<head>
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <title>病例学习</title>
</head>
<div class="container tab-select">
    <div class="row">
        @{
            bool flag = true;
            foreach (VetTrainer.Models.DiseaseType diseaseType in Model)
            {
                if (flag)
                {
                    <div class="col-sm-2 diease-tab active">@diseaseType.Name</div>
                    flag = false;
                }
                else
                {
                    <div class="col-sm-2 diease-tab">@diseaseType.Name</div>
                }
            }
        }
    </div>
    <div class="row diease-content">
        @{
            bool flag2 = true;
            foreach (VetTrainer.Models.DiseaseType diseaseType in Model)
            {
                if (flag2)
                {
                    <ul class="diease-list list-group">
                        @foreach (var disease in diseaseType.Diseases)
                        {
                            <li class="col-sm-2 list-group-item">@disease.Name</li>
                        }
                    </ul>
                    flag2 = false;
                }
                else
                {
                    <ul class="diease-list list-group hidden">
                        @foreach (var disease in diseaseType.Diseases)
                        {
                            <li class="col-sm-2 list-group-item">@disease.Name</li>
                        }
                    </ul>
                }
            }
}
    </div>
    <hr>
    <div class="row">
        <h3>病例选择</h3>
        <ul>
        @{ 
            foreach(VetTrainer.Models.DiseaseType diseaseType in Model)
            {
                foreach (VetTrainer.Models.Disease disease in diseaseType.Diseases)
                {
                    foreach(VetTrainer.Models.DiseaseCase diseaseCase in disease.DiseaseCases)
                    {
                    @*<li>Disease Type: @diseaseType.Name; Disease: @disease.Name; Disease case: @diseaseCase.Name</li>
                    <li>@Html.ActionLink("Disease Type:" + diseaseType.Name + "Disease:" + disease.Name + " Disease case:" + diseaseCase.Name, "CaseLearning", "Case", diseaseCase.Name, null) </li>
                    }
                }
            }
          }
</ul>
    </div>
</div>*@
<div>
    @model
</div>
<script src="../../Src/js/case_select.js"></script>