@model VetTrainer.Models.DataTransferObjs.UserIntactDto
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Src/js/jquery-3.1.1.js"></script>
<script src="~/Src/js/bootstrap.min.js"></script>*@

<div class="container-fluid index-bg">
    <div class="container">
        <h2>@ViewBag.Title</h2>
         <hr>
        <div class="login-box form-horizontal">
            <div class="editor-label form-group">
                <span class="col-md-3">用户ID</span>
                <div class="editor-field col-md-9">
                    @Model.Id
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">用户名</span>
                <div class="editor-field col-md-9">
                    @Model.Name
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">新密码</span>
                <div class="editor-field col-md-2">
                    <input id="password" type="text" class="form-control" />
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">确认密码</span>
                <div class="editor-field col-md-2">
                    <input id="passwordConfirm" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <input id="modifyUser" class="btn btn-default btn-primary" type="submit" value="确认" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message modal -->
@*<a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>*@
<!-- Modal -->
<div class="modal fade" id="msgModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">操作信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msgModalContent"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">好的</button>
            </div>
        </div>
    </div>
</div>

<script>
    //$('#btntest').on('click', function () {
    //    $('#myModal').modal('toggle')
    //})

    var setMsgModalContent = function (msg) {
        $("#msgModalContent").html(msg);
    }

    var toggleMsgModal = function () {
        $('#msgModel').modal('toggle');
    }

    $('#modifyUser').on('click', modifyUser);
    function modifyUser() {
        //if((document.getElementById("password").innerHTML == document.getElementById("passwordConfirm").innerHTML) &&
        //document.getElementById("password").innerHTML != ""){
        if ($('#password').val() != $('#passwordConfirm').val()) {
            setMsgModalContent("两次输入密码不一致，请检查！"); toggleMsgModal(); return;
        }
        else if ($('#password').val() == "") {
            setMsgModalContent("输入密码不能为空，请检查！"); toggleMsgModal(); return;
        }

        var user = {
            "Id": "@Model.Id",
            "Name": "@Model.Name",
            "Password": document.getElementById("password").value,
            "Authority": "@Model.Authority",
            "IsToRememberMe": "@Model.IsToRememberMe",
        };
        $.post('/api/UserModify', user,
            function (ds, success) {
                //debugger;
                var data = JSON.parse(ds);
                console.log(ds);
                setMsgModalContent(data.message);
                toggleMsgModal();
                //var t = JSON.parse(data);
                //console.log(t);
            }
        )
    }
</script>
