<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - @VetTrainer.Views.Strings.Global.AppName</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Styles.Render("~/Dist/css/bootstrap.min.css")
    @Styles.Render("~/Dist/css/common.css")
    @Scripts.Render("~/Src/js/jquery-3.1.1.js")
    @Scripts.Render("~/Dist/js/")*@ 
</head>

<body>
    <header>
        <nav class="navbar" role="banner">
            <div class="container">
                <div class="navbar-header">
                <a href="@Url.Action("Index","Home")" class="nav-head">
                    <h1>虚拟宠物医院学习软件
                    </h1></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        @{
                            bool authenticated = User.Identity.IsAuthenticated;
                            if (authenticated)
                            {
                                <li>@Html.ActionLink("用户管理", "Index", "Account", new { Name = User.Identity.Name } , null)</li>
                                if (UserManager.User?.Authority == UserAuthority.Admin)
                                {
                                    <li><a href="@Url.Action("Index", "SystemManager")">系统管理</a></li>
                                }
                            }
                                <li><a href="@Url.Action("About","Home")">关于我们</a></li>
                            if (authenticated)
                            { 
                                <li style="width: auto;">
                                    <strong>@Html.Encode(User.Identity.Name)</strong>
                                </li>
                                <li>@Html.ActionLink("登出", "Logout", "Login")</li>

                            }
                            else
                            {
                                <li style="width: auto;">
                                    @Html.ActionLink("登入", "Login", "Login")
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->
    
        @RenderBody()
  


    <footer class="container-fluid">
        <div class="row text-center">
            <p class="">&copy; copyright 2017 @VetTrainer.Views.Strings.Global.AppName</p>
 
        </div>
    </footer>
</body>

</html>