
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - @VetTrainer.Views.Strings.Global.AppName</title>
    @Styles.Render("~/Dist/css/bootstrap.min.css")
    @Styles.Render("~/Dist/css/common.css")
    @Scripts.Render("~/Src/js/jquery-3.1.1.js")
    @*@Scripts.Render("~/Dist/js/")*@ 
</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a>@Html.ActionLink(VetTrainer.Views.Strings.Global.AppName,"Index","Home",new {@class="navbar-brand nav-head"})</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" href="">
                    <li>
                       <a class="nav-about" href="/Home/About">关于我们</a>
                    </li>
                </ul>
            </div>
            <div style="width: auto;">
                @if (Request.IsAuthenticated)
                {
                    <strong>@Html.Encode(User.Identity.Name)</strong>
                    @Html.ActionLink("登出", "Logout", "Login")
                }
            </div> 
        </div>


    </header>
    
        @RenderBody()
  


    <footer class="container-fluid">
        <div class="row text-center">
            <p class="">&copy; copyright 2017 @VetTrainer.Views.Strings.Global.AppName</p>
 
        </div>
    </footer>

</body>

</html>